@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --color-body : #121212;
    --color-primary-header : #56566e;
    --color-secondary-header : #54546c;
    --color-paragraph-text : #54546c;
    --color-paragraph-text-dark : oklch(0.95 0 0);
    --color-cta-btn : #f67333;
    --color-btn-hover : #fc9c33;
    --color-highlight : #f67333;
    --color-sidebar : #56566e;
    --animate-text-toggle-l-to-r : toggle 5s ease-in-out infinite;

    @keyframes toggle{
        0%{
            transform : translateX(0%);
        }
        50%{
            transform : translateX(-20%);
        }
        100%{
            transform : translateX(0%);
        }
    }
};

*{
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    font-family: "figtree" , sans-serif;
}

.sparkle {
  height: 300px;
  width: 250px;
  background: #EDC951;
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;

  /* if you will use a different unit than px consider round()
   height: round(__,1px);
   width: round(__,1px);
  */
}
